.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mod_unimrcp.la
mod_unimrcp_la-mod_unimrcp.lo
mod_unimrcp_la-mod_unimrcp.o
